<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Consumer Order Notification</title>
    <style type="text/css" rel="stylesheet" media="all">
        *:not(br):not(tr):not(html) {
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            width: 100% !important;
            height: 100%;
            margin: 0;
            line-height: 1.4;
            background-color: #F2F4F6;
            color: #74787E;
            -webkit-text-size-adjust: none;
        }

        a {
            color: #3869D4;
        }

        /* Layout ------------------------------ */
        .email-wrapper {
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: #2a2a2a;
        }

        .email-content {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        /* Body ------------------------------ */
        .email-body {
            width: 100%;
            margin: 0;
            padding: 0;
            border-top: 1px solid #EDEFF2;
            border-bottom: 1px solid #EDEFF2;
            background-color: #FFF;
        }

        .email-body_inner {
            width: 570px;
            margin: 0 auto;
            padding: 0;
        }

        .email-footer {
            width: 570px;
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }

        .email-footer p {
            color: #AEAEAE;
        }

        .body-action {
            width: 100%;
            margin: 30px auto;
            padding: 0;
            text-align: center;
        }

        .content-cell {
            padding: 35px;
        }

        /* Type ------------------------------ */
        h1 {
            margin-top: 0;
            color: #2F3133;
            font-size: 19px;
            font-weight: bold;
            text-align: left;
        }

        h2 {
            margin-top: 0;
            color: #2F3133;
            font-size: 16px;
            font-weight: bold;
            text-align: left;
        }

        h3 {
            margin-top: 0;
            color: #2F3133;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
        }

        p {
            margin-top: 0;
            color: #74787E;
            font-size: 16px;
            line-height: 1.5em;
            text-align: left;
        }

        /* Buttons ------------------------------ */
        .button {
            background-color: #4d90fe;
            border: 1px solid #3079ed;
            border-radius: 2px;
            color: white;
            display: inline-block;
            font-family: Roboto, Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: bold;
            min-height: 29px;
            line-height: 29px;
            min-width: 54px;
            outline: 0px;
            padding: 0 8px;
            text-align: center;
            text-decoration: none;
        }

        .button--green {
            background-color: #8cc63e;
        }

        /*Media Queries ------------------------------ */
        @media only screen and (max-width: 600px) {
            .email-body_inner,
            .email-footer {
                width: 100% !important;
            }
        }

        @media only screen and (max-width: 500px) {
            .button {
                width: 100% !important;
            }
        }


    </style>
</head>
<body>
<header style="height: 229px;background:url(http://connect-assets.s3.amazonaws.com/email/img/bg.png);text-align:center; overflow: auto;">
    <div style="margin:25px 0px">
        <img src="http://connect-assets.s3.amazonaws.com/email/img/logo.png" alt="logo"/>
    </div>
    <h2 style="color:#fff;font-weight: normal;font-size: 28px; text-align: center;">Consumer Order Notification</h2>
</header>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
                <!-- Email Body -->
                <tr>
                    <td class="email-body content-cell">
                        New Consumer Order Details for : {{notificationDate}}
                        <br/>
                        <br/>
                        <table class="body-action" border="1" align="center" width="100%" cellpadding="0"
                               cellspacing="0">
                            <thead>
                            <tr>

                                <td align="center"> Member Name</td>
                                <td align="center"> Member Phone</td>
                                <td align="center"> Member Address</td>
                                <td align="center"> Consumer Type</td>
                                <td align="center"> Status</td>
                                <td align="center"> Order #</td>
                                <td align="center"> Order Placed Time</td>
                                <td align="center"> Order Amount</td>
                                <td align="center"> Source</td>
                                <td align="center"> Member Status</td>
                                <td align="center"> Review Order</td>
                            </tr>
                            </thead>
                            <tbody>
                            {{orderBody}}
                            </tbody>
                        </table>

                        <p>Thanks,<br>The BLAZE Team</p>
                        <p><strong>P.S.</strong> We also love hearing from you and helping you with any
                            issues you have. Please reply to this email if you want to ask a question or
                            just say hi.</p>
                    </td>
                </tr>
                <tr>
                    <td style="background:url(http://connect-assets.s3.amazonaws.com/email/img/bg.png);text-align:center; overflow: auto;">
                        <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="content-cell">
                                    <h3 class="sub center" style="font-weight:normal;text-align: center;color: #fff;">
                                        &copy; 2017 BLAZE. All rights reserved.</h3>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
