<!-- BEGIN PAGE BASE CONTENT -->
<div style="background-color:#fff;padding:2% 0;float:left;width:100%">
    <div style="float:left;width: 100%;margin-top:-4px;text-align: center;padding: 15px 5px;==preferredEmailColor==">
        <img src="==logo==" style = "max-height: 100px; max-width: 100px; height: auto; width: auto"></img>
    </div>
    <div class="space"></div>
    <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Today's Date: ==today'sDate==
    </p>
    <div class="space"></div>
    <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==shopName==
    </p>
    <p style="==showShopAddress==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==shopAddress==
    </p>
    <p style="==showShopPhoneNumber==;width: 100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==shopPhoneNo==
    </p>
    <p style="==showShopEmail==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==shopEmail==
    </p>
    <p style="==showFulfillmentStep==;margin-top:10px;width: 100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Fulfillment Step: ==fulfillmentStep==
    </p>
    <p style="==showPrepBy==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Prepared By: ==prepBy==
    </p>
    <p style="==showPrepDate==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Prepared on: ==prepDate==
    </p>

    <p style="==showPackedBy==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Packed By: ==packedBy==
    </p>

    <p style="width:100%;float:left;margin-top:10px;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Member:
    </p>
    <p style="==showMemberName==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==memberName==
    </p>
    <p style="==showMemberId==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==memberId==
    </p>
    <p style="==showMemberAddress==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==memberAddress==
    </p>
    <p style="==showMemberPhoneNo==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==MemberPhoneNo==
    </p>

    <p style="==showLoyaltyPoints==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Total Loyalty Points: ==loyaltyPoints==
    </p>
    <p style="==showPointsEarned==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Loyalty Points Earned: ==pointsEarned==
    </p>
    <div class="space"></div>

    <p style="==showEmployee==;margin-top:10px;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Completed by: ==employee==
    </p>

    <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Trans No: ==transNo==
    </p>
    <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Trans Date: ==transDate==
    </p>
    <div class="space"></div>
    <hr/>
    <p style="==showSalesFreeText==;width:100%;border-bottom:1px solid #0000006b;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;clear:both;">
        ==salesFreeText==
    </p>
    <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        SALE
    </p>
    <table style="width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;float:left;">
        <thead>
        <tr>
            <th style="width:3%;font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:12px;font-weight:600;letter-spacing:1px;vertical-align:middle;text-align:left;border-top:0;">#</th>
            <th style="width:7%;font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:12px;font-weight:600;letter-spacing:1px;vertical-align:middle;text-align:left;border-top:0;">Qty</th>
            <th style="width:14%;font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:12px;font-weight:600;letter-spacing:1px;vertical-align:middle;text-align:left;border-top:0;">SKU</th>
            <th style="width:10%;font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:12px;font-weight:600;letter-spacing:1px;vertical-align:middle;text-align:left;border-top:0;word-break: break-word;">Brand</th>
            <th style="width:23%;font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:12px;font-weight:600;letter-spacing:1px;vertical-align:middle;text-align:left;border-top:0;word-break: break-word;">Product Name</th>
            <th style="width:20%;font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:12px;font-weight:600;letter-spacing:1px;vertical-align:middle;text-align:left;border-top:0;">Price</th>
            <th style="width:10%;font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:12px;font-weight:600;letter-spacing:1px;vertical-align:middle;text-align:left;border-top:0;">Discount</th>
            <th style="width:20%;font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:12px;font-weight:600;letter-spacing:1px;vertical-align:middle;text-align:left;border-top:0;word-break: break-word;">Discount Notes</th>
        </tr>
        </thead>
        <tbody>
        ==orderItems==
        </tbody>
    </table>
    <div style="width:47%;float: right">
        <p style="margin-top:15px;margin-bottom:15px;width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <b style="float:left;">Subtotal</b>
            <b style="float:right;">==subtotal==</b>
        </p>
        <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Discounts</span>
            <span style="float:right;">==discounts==</span>
        </p>
        <p style="==showExciseTax==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Excise Tax</span>
            <span style="float:right;">==exciseTax==</span>
        </p>
        <p style="==showPreExciseTax==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Excise Tax(Pre)</span>
            <span style="float:right;">(==preExciseTax==)</span>
        </p>
        <p style="==showCityTax==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">City Tax</span>
            <span style="float:right;">==cityTax==</span>
        </p>
        <p style="==showPreCityTax==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">City Tax(Pre)</span>
            <span style="float:right;">(==preCityTax==)</span>
        </p>
        <p style="==showCountyTax==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">County Tax</span>
            <span style="float:right;">==countyTax==</span>
        </p>
        <p style="==showPreCountyTax==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">County Tax(Pre)</span>
            <span style="float:right;">(==preCountyTax==)</span>
        </p>

        <p style="==showStateTax==;width:100%;float:left;clear:both;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">State Tax</span>
            <span style="float:right;">==stateTax==</span>
        </p>
        <p style="==showPreStateTax==;width:100%;float:left;clear:both;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">State Tax(Pre)</span>
            <span style="float:right;">(==preStateTax==)</span>
        </p>
        <p style="==showFedTax==;width:100%;clear:both;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Federal Tax</span>
            <span style="float:right;">==federalTax==</span>
        </p>
        <p style="==showPreFedTax==;width:100%;clear:both;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Federal Tax(Pre)</span>
            <span style="float:right;">(==preFederalTax==)</span>
        </p>
        <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Total Tax</span>
            <span style="float:right;">==postTaxes==</span>
        </p>
        <p style="==showAfterTaxDiscount==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">After Tax Discount</span>
            <span style="float:right;">==afterTaxDiscount==</span>
        </p>
        <p style="==showDeliveryFee==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Delivery Fee</span>
            <span style="float:right;">==deliveryFee==</span>
        </p>
        <p style="==showCreditCardFee==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Credit Card Fee</span>
            <span style="float:right;">==creditCardFee==</span>
        </p>
        <p style="==showRoundedAmount==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Rounded Amount</span>
            <span style="float:right;">==roundAmt==</span>
        </p>
        <p style="==showTipAmount==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Tip </span>
            <span style="float:right;">==tipAmount==</span>
        </p>
        <p style="margin-top:15px;margin-bottom:10px;width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:left;">Total</span>
            <span style="float:right;">==total==</span>
        </p>
        <p style="==displayRoundMessage==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
            <span style="float:right;">==roundType== for ==roundedMessage==</span>
        </p>
    </div>
    <hr />
    <p style="==displayPaymentType==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Payment Type: ==paymentType==
    </p>
    <p style="==displayTotalPaymentReceived==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Total Payment Received: ==totalPaymentReceived==
    </p>
    <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Change Due: ==changeDue==
    </p>
    <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==exciseMessage==
    </p>
    <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==shopMessage==
    </p>
    <p style="==displayNotes==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Notes: ==notes==
    </p>
    <hr/>
    <p style="==showMemberSignature==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        <img src="==memberSignature==" height="70px" width="70px"></img>
    </p>
    <p style="width:100%;float:left;display:inline-block;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        Member Signature
    </p>
    <hr/>
    <p style="==showBottomFreeText==;width:100%;float:left;font-family:Roboto, Helvetica, Arial, sans-serif;line-height:1.46429em;">
        ==bottomFreeText==
    </p>
</div>
<!-- END PAGE BASE CONTENT -->