<html>


<body>
<div><b>Support Email</b></div>
<div><b>CompanyId:</b> {{companyId}}</div>
<div><b>Email:</b> {{email}}</div>
<div><b>User:</b> {{name}}</div>
<div><b>Date:</b> {{date}}</div>


<div><b>Message:</b></div>
<div>
    <p>{{body}}
    </p>
</div>
</body>
</html>