<html>

<body>
<h>Welcome {{name}},</h>
<p>
    Thanks for joining BLAZE Retail. Our goal is to make yours and every dispensaries' life easier and productive
    through our software.
</p>
<p>
    Below is your password to the BLAZE Retail admin panel. You will be receiving a second email with your user name and
    information on getting started.
</p>
<p>
    Your password: {{password}}
</p>
<div>
    <a href="https://app.420connect.com">Login</a>
</div>
<p>
    Thanks,<br/>
    The Blaze Team
</p>

<p><a href="https://itunes.apple.com/us/app/blaze-retail-point-of-sale-pos/id1141933462">Download BLAZE Retail App</a>
</p>
</body>
</html>