<html>


<body>
<div><b>New Company Signup!</b></div>
<div><b>Date:</b> {{date}}</div>
<div><b>ProductSKU:</b> {{productSKU}}</div>
<div><b>CompanyId:</b> {{companyId}}</div>
<div><b>Company name:</b> {{companyName}}</div>
<div><b>Email:</b> {{email}}</div>
<div><b>First Name:</b> {{firstName}}</div>
<div><b>Last Name:</b> {{lastName}}</div>
<div><b>PhoneNumber:</b> {{phoneNumber}}</div>
<div><b>InfusionSoft Id:</b> {{isId}}</div>
<div><b>Website:</b> {{website}}</div>
<div><b>Shop Type:</b> {{shopType}}</div>
<div><b>Address:</b> {{address}}</div>
<div><b>City:</b> {{city}}</div>
<div><b>State:</b> {{state}}</div>
<div><b>Zipcode:</b> {{zipCode}}</div>

</body>
</html>